<a href="https://colab.research.google.com/github/amandarice97/data-analytics/blob/main/danl-m2-hw3-Rice-Amanda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load Libraries
Import the pandas library.

import pandas as pd

Below is nyc_payroll DataFrame that reads the file nyc_payroll.csv containing data of how the New York City’s budget is being spent on salary and overtime pay for all municipal employees (Source: NYC OpenData).

nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

In [129]:
import pandas as pd
nyc_payroll=pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv') #Import dataset
type(nyc_payroll)
nyc_payroll

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2022,740,DEPARTMENT OF EDUCATION ADMIN,DAVIS,OSCAR,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.00,per Annum,805.0,24469.41,0.0,0.00,0.00
1,2022,746,DEPT OF ED PER DIEM TEACHERS,ZHOU,JUN,NaN,07/01/2020,MANHATTAN,TEACHER-GENERAL ED,ACTIVE,110.29,per Day,0.0,3387.59,0.0,0.00,0.00
2,2022,747,DEPT OF ED PER SESSION TEACHER,LOPEZ,YERIBEL,E,12/11/2001,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,20242.24,0.0,0.00,474.32
3,2022,742,DEPT OF ED PEDAGOGICAL,KENNEDY,VERA,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.0,74904.27,0.0,0.00,-4474.44
4,2022,742,DEPT OF ED PEDAGOGICAL,LICHVAR,AMANDA,C,02/01/2007,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,5380.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2023,300,BOARD OF ELECTION POLL WORKERS,GARNER,GEOFFREY,O,01/01/2020,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.0,928.00,0.0,0.00,0.00
1996,2023,742,DEPT OF ED PEDAGOGICAL,FIGUEROA,JESSICA,A,02/08/2006,MANHATTAN,TEACHER ASSIGNED A,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,0.00
1997,2023,747,DEPT OF ED PER SESSION TEACHER,DIFORTE,DANIELLE,N,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,1824.57,0.0,0.00,0.00
1998,2023,747,DEPT OF ED PER SESSION TEACHER,BIONDO,STEFANIE,NaN,10/03/2011,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,4384.04,0.0,0.00,0.61
1999,2023,827,DEPARTMENT OF SANITATION,ARIAS,ELPIDIO,NaN,07/11/2022,MANHATTAN,SANITATION WORKER,ACTIVE,44064.00,per Annum,2000.0,40473.72,128.5,5659.77,10995.37

#Variable Description
- Fiscal Year: Fiscal Year;
- Payroll Number: Payroll Number;
- Agency Name: The Payroll agency that the employee works for;
- Last Name: Last name of employee;
- First Name: First name of employee;
- Mid Init: Middle initial of employee;
- Agency Start Date: Date which employee began working for their current agency;
- Work Location Borough: Borough of employee’s primary work location;
- Title Description: Civil service title description of the employee;
- Leave Status as of June 30: Status of employee as of the close of the relevant fiscal year;
- Base Salary: Base Salary assigned to the employee;
- Pay Basis: Lists whether the employee is paid on an hourly, per diem or annual basis;
- Regular Hours: Number of regular hours employee worked in the fiscal year;
- Regular Gross Paid: The amount paid to the employee for base salary during the fiscal year;
- OT Hours: Overtime Hours worked by employee in the fiscal year;
- Total OT Paid: Total overtime pay paid to the employee in the fiscal year;
- Total Other Pay: Includes any compensation in addition to gross salary and overtime pay, ie Differentials, lump sums, uniform allowance, meal allowance, retroactive pay increases, settlement amounts, and bonus pay, if applicable.

#Question 1
Select “First Name”, “Last Name”, “Base Salary”, and “Total OT Paid”, then sort these selected variables by “Base Salary” in descending order and display the top 10 entries.

*Answer*

In [130]:
nyc_payroll.info() #Number of entries and data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Fiscal Year                 2000 non-null   int64
 1   Payroll Number              2000 non-null   int64
 2   Agency Name                 2000 non-null   object
 3   Last Name                   1986 non-null   object
 4   First Name                  1986 non-null   object
 5   Mid Init                    1161 non-null   object
 6   Agency Start Date           2000 non-null   object
 7   Work Location Borough       2000 non-null   object
 8   Title Description           2000 non-null   object
 9   Leave Status as of June 30  2000 non-null   object
 10  Base Salary                 2000 non-null   float64
 11  Pay Basis                   2000 non-null   object
 12  Regular Hours               2000 non-null   float64
 13  Regular Gross Paid          2000 non-null   float64
 14  OT Hours                    2000 non-null   float64
 15  Total OT Paid               2000 non-null   float64
 16  Total Other Pay             2000 non-null   float64
dtypes: float64(6), int64(2), object(9)
memory usage: 265.8+ KB

In [131]:
nyc_payroll.describe(include="all") #Descriptive statistics

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
count,2000.000000,2000.000000,2000,1986,1986,1161,2000,2000,2000,2000,2000.000000,2000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
unique,NaN,NaN,65,1620,1162,25,1170,9,272,5,NaN,4,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,DEPT OF ED PEDAGOGICAL,RODRIGUEZ,MICHAEL,A,01/01/2020,MANHATTAN,TEACHER- PER SESSION,ACTIVE,NaN,per Annum,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,369,22,23,165,23,1446,339,1613,NaN,1200,NaN,NaN,NaN,NaN,NaN
mean,2022.500000,577.804000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49809.525245,NaN,616.458680,43918.969815,70.948525,4032.891630,4289.623745
std,0.500125,304.283239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47915.863533,NaN,868.303506,43808.235364,191.727728,11701.486378,7452.738997
min,2022.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,-80.000000,-4174.920000,-12.250000,-242.160000,-18272.550000
25%,2022.000000,300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.180000,NaN,0.000000,3209.110000,0.000000,0.000000,0.000000
50%,2022.500000,742.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46325.000000,NaN,0.000000,31567.475000,0.000000,0.000000,751.410000
75%,2023.000000,747.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92073.000000,NaN,1820.000000,80958.612500,0.000000,1.590000,5656.427500
max,2023.000000,996.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,233094.000000,NaN,2392.000000,215269.600000,1875.500000,126184.020000,103870.170000

In [132]:
(
    nyc_payroll
    .sort_values(["Base Salary", "First Name", "Last Name", "Total OT Paid"],
                 ascending=False)
    .head(10)
) #Sort by descending order, "Base Salary" then "First Name" then "Last Name" then "Total OT Paid"

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
433,2022,858,DEPT OF INFO TECH & TELECOMM,BIMONTE,MICHAEL,NaN,06/10/2003,BROOKLYN,COMPUTER SYSTEMS MANAGER,CEASED,233094.0,per Annum,0.0,0.00,0.0,0.0,103870.17
61,2022,69,HRA/DEPT OF SOCIAL SERVICES,BOODANIAN,BEDROS,L,11/05/2007,MANHATTAN,ADMINISTRATIVE STAFF ANALYST,ACTIVE,215861.0,per Annum,1820.0,215269.60,0.0,0.0,3780.75
1378,2023,996,NYC HOUSING AUTHORITY,SOHONI,ARVIND,V,02/11/2019,MANHATTAN,DEPUTY EXECUTIVE DIRECTOR,ACTIVE,215000.0,per Annum,1820.0,193479.52,0.0,0.0,0.00
1469,2023,996,NYC HOUSING AUTHORITY,KAPLAN,ANDREW,N,12/02/2019,MANHATTAN,EXECUTIVE PROGRAM SPECIALIST,ACTIVE,195000.0,per Annum,1820.0,178356.14,0.0,0.0,0.00
73,2022,742,DEPT OF ED PEDAGOGICAL,RICE,VICTORIA,NaN,09/02/1997,MANHATTAN,PRINCIPAL,ACTIVE,187530.0,per Annum,0.0,186164.52,0.0,0.0,13594.88
858,2022,69,HRA/DEPT OF SOCIAL SERVICES,PILEWSKI,JOSEPH,A,07/18/2016,MANHATTAN,ADMINISTRATIVE SUPERVISOR OF BUILDING MAINTENANCE,ACTIVE,180450.0,per Annum,1820.0,162249.38,0.0,0.0,2747.10
1379,2023,901,DISTRICT ATTORNEY-MANHATTAN,DAVID,SAMUEL,L,09/05/2006,MANHATTAN,ASSISTANT DISTRICT ATTORNEY,ACTIVE,180000.0,per Annum,1820.0,163013.77,0.0,0.0,0.00
425,2022,2,OFFICE OF THE MAYOR,JIMENEZ,KARINA,E,07/29/2019,MANHATTAN,ASSISTANT LEGISLATIVE REPRESENTATIVE,CEASED,178000.0,per Annum,1127.0,108448.20,0.0,0.0,2244.04
74,2022,742,DEPT OF ED PEDAGOGICAL,NEDD,JOYCELYN,K,10/15/1979,MANHATTAN,PRINCIPAL,CEASED,177113.0,per Annum,0.0,0.00,0.0,0.0,10836.27
352,2022,742,DEPT OF ED PEDAGOGICAL,VARGAS,JEANETTE,NaN,01/03/1989,OTHER,PRINCIPAL,CEASED,176947.0,per Annum,0.0,0.00,0.0,0.0,10482.20

#Question 2
Create a new DataFrame that includes employees from the “DEPARTMENT OF EDUCATION ADMIN” agency where the variables are “First Name”, “Last Name”, “Title Description”, “Base Salary”, and “Total OT Paid”. Additionally, include a new variable “Total Compensation” which is the sum of “Base Salary” and “Total OT Paid”.

*Answer*

In [133]:
nyc_payroll['Total Compensation'] = nyc_payroll['Base Salary'] + nyc_payroll['Total OT Paid'] #Create new variable "Total Compensation"
nyc_payroll

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Compensation
0,2022,740,DEPARTMENT OF EDUCATION ADMIN,DAVIS,OSCAR,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.00,per Annum,805.0,24469.41,0.0,0.00,0.00,53820.00
1,2022,746,DEPT OF ED PER DIEM TEACHERS,ZHOU,JUN,NaN,07/01/2020,MANHATTAN,TEACHER-GENERAL ED,ACTIVE,110.29,per Day,0.0,3387.59,0.0,0.00,0.00,110.29
2,2022,747,DEPT OF ED PER SESSION TEACHER,LOPEZ,YERIBEL,E,12/11/2001,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,20242.24,0.0,0.00,474.32,33.18
3,2022,742,DEPT OF ED PEDAGOGICAL,KENNEDY,VERA,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.0,74904.27,0.0,0.00,-4474.44,79687.00
4,2022,742,DEPT OF ED PEDAGOGICAL,LICHVAR,AMANDA,C,02/01/2007,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,5380.44,109852.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2023,300,BOARD OF ELECTION POLL WORKERS,GARNER,GEOFFREY,O,01/01/2020,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.0,928.00,0.0,0.00,0.00,1.00
1996,2023,742,DEPT OF ED PEDAGOGICAL,FIGUEROA,JESSICA,A,02/08/2006,MANHATTAN,TEACHER ASSIGNED A,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,0.00,109852.00
1997,2023,747,DEPT OF ED PER SESSION TEACHER,DIFORTE,DANIELLE,N,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,1824.57,0.0,0.00,0.00,33.18
1998,2023,747,DEPT OF ED PER SESSION TEACHER,BIONDO,STEFANIE,NaN,10/03/2011,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,4384.04,0.0,0.00,0.61,33.18
1999,2023,827,DEPARTMENT OF SANITATION,ARIAS,ELPIDIO,NaN,07/11/2022,MANHATTAN,SANITATION WORKER,ACTIVE,44064.00,per Annum,2000.0,40473.72,128.5,5659.77,10995.37,49723.77

In [134]:
nyc_payroll_2 = nyc_payroll[['Agency Name', 'First Name', 'Last Name', "Title Description", 'Base Salary', 'Total OT Paid', 'Total Compensation']] #Create new df
nyc_payroll_2

,Agency Name,First Name,Last Name,Title Description,Base Salary,Total OT Paid,Total Compensation
0,DEPARTMENT OF EDUCATION ADMIN,OSCAR,DAVIS,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,53820.00,0.00,53820.00
1,DEPT OF ED PER DIEM TEACHERS,JUN,ZHOU,TEACHER-GENERAL ED,110.29,0.00,110.29
2,DEPT OF ED PER SESSION TEACHER,YERIBEL,LOPEZ,TEACHER- PER SESSION,33.18,0.00,33.18
3,DEPT OF ED PEDAGOGICAL,VERA,KENNEDY,TEACHER,79687.00,0.00,79687.00
4,DEPT OF ED PEDAGOGICAL,AMANDA,LICHVAR,TEACHER SPECIAL EDUCATION,109852.00,0.00,109852.00
...,...,...,...,...,...,...,...
1995,BOARD OF ELECTION POLL WORKERS,GEOFFREY,GARNER,ELECTION WORKER,1.00,0.00,1.00
1996,DEPT OF ED PEDAGOGICAL,JESSICA,FIGUEROA,TEACHER ASSIGNED A,109852.00,0.00,109852.00
1997,DEPT OF ED PER SESSION TEACHER,DANIELLE,DIFORTE,TEACHER- PER SESSION,33.18,0.00,33.18
1998,DEPT OF ED PER SESSION TEACHER,STEFANIE,BIONDO,TEACHER- PER SESSION,33.18,0.00,33.18
1999,DEPARTMENT OF SANITATION,ELPIDIO,ARIAS,SANITATION WORKER,44064.00,5659.77,49723.77

In [135]:
nyc_payroll_2.set_index("Agency Name", inplace = True) #Create new index

In [136]:
nyc_payroll_2.loc[ "DEPARTMENT OF EDUCATION ADMIN" ] #Locate "Agency Name" = "DEPARTMENT OF EDUCATION ADMIN"

,First Name,Last Name,Title Description,Base Salary,Total OT Paid,Total Compensation
Agency Name,,,,,,
DEPARTMENT OF EDUCATION ADMIN,OSCAR,DAVIS,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,53820.0,0.00,53820.00
DEPARTMENT OF EDUCATION ADMIN,JENNA,VARNAUSKAS,OCCUPATIONAL THERAPIST,75381.0,0.00,75381.00
DEPARTMENT OF EDUCATION ADMIN,CHRISTINA,GRANQUIST,PHYSICAL THERAPIST,80270.0,0.00,80270.00
DEPARTMENT OF EDUCATION ADMIN,SANDRA,QUIAH,COMMUNITY ASSOCIATE,55323.0,0.00,55323.00
DEPARTMENT OF EDUCATION ADMIN,SHATARA,EARL,PROCUREMENT ANALYST,62055.0,0.00,62055.00
...,...,...,...,...,...,...
DEPARTMENT OF EDUCATION ADMIN,DEISMOND,ROSA,COMMUNITY COORDINATOR,82170.0,1602.93,83772.93
DEPARTMENT OF EDUCATION ADMIN,SERIDE,READ,COMMUNITY COORDINATOR,67834.0,639.27,68473.27
DEPARTMENT OF EDUCATION ADMIN,ELISA,CORADO DERAS,COMMUNITY ASSISTANT,40765.0,0.00,40765.00
DEPARTMENT OF EDUCATION ADMIN,YAZMYN,YEARDE,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,58811.0,0.00,58811.00
DEPARTMENT OF EDUCATION ADMIN,FOLASADE,AKINTUNDE,PHYSICAL THERAPIST,80730.0,0.00,80730.00

#Question 3
Using set_index(), change the DataFrame’s index to “Last Name”, then locate the data for a specific last name, say “Doe”, and display their “Agency Name”, “Base Salary”, and “Total OT Paid”.

*Answer*

In [138]:
nyc_payroll.reset_index(inplace = True) #Reset index
nyc_payroll

,level_0,index,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Compensation
0,0,0,2022,740,DEPARTMENT OF EDUCATION ADMIN,DAVIS,OSCAR,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.00,per Annum,805.0,24469.41,0.0,0.00,0.00,53820.00
1,1,1,2022,746,DEPT OF ED PER DIEM TEACHERS,ZHOU,JUN,NaN,07/01/2020,MANHATTAN,TEACHER-GENERAL ED,ACTIVE,110.29,per Day,0.0,3387.59,0.0,0.00,0.00,110.29
2,2,2,2022,747,DEPT OF ED PER SESSION TEACHER,LOPEZ,YERIBEL,E,12/11/2001,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,20242.24,0.0,0.00,474.32,33.18
3,3,3,2022,742,DEPT OF ED PEDAGOGICAL,KENNEDY,VERA,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.0,74904.27,0.0,0.00,-4474.44,79687.00
4,4,4,2022,742,DEPT OF ED PEDAGOGICAL,LICHVAR,AMANDA,C,02/01/2007,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,5380.44,109852.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,1995,2023,300,BOARD OF ELECTION POLL WORKERS,GARNER,GEOFFREY,O,01/01/2020,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.0,928.00,0.0,0.00,0.00,1.00
1996,1996,1996,2023,742,DEPT OF ED PEDAGOGICAL,FIGUEROA,JESSICA,A,02/08/2006,MANHATTAN,TEACHER ASSIGNED A,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,0.00,109852.00
1997,1997,1997,2023,747,DEPT OF ED PER SESSION TEACHER,DIFORTE,DANIELLE,N,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,1824.57,0.0,0.00,0.00,33.18
1998,1998,1998,2023,747,DEPT OF ED PER SESSION TEACHER,BIONDO,STEFANIE,NaN,10/03/2011,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,4384.04,0.0,0.00,0.61,33.18
1999,1999,1999,2023,827,DEPARTMENT OF SANITATION,ARIAS,ELPIDIO,NaN,07/11/2022,MANHATTAN,SANITATION WORKER,ACTIVE,44064.00,per Annum,2000.0,40473.72,128.5,5659.77,10995.37,49723.77

In [139]:
nyc_payroll.set_index("Last Name", inplace = True) #Create new index

In [144]:
nyc_payroll.loc[
    ["DAVIS"],
     ["Agency Name", "Base Salary", "Total OT Paid"]
] #Locate "Last Name" = "DAVIS"

                              Agency Name  Base Salary  Total OT Paid
Last Name
DAVIS       DEPARTMENT OF EDUCATION ADMIN     53820.00           0.00
DAVIS               NYC HOUSING AUTHORITY     32950.00        2332.60
DAVIS         HRA/DEPT OF SOCIAL SERVICES     81452.00        6253.86
DAVIS             BRONX DISTRICT ATTORNEY    160000.00           0.00
DAVIS      DEPT OF ED PER SESSION TEACHER        33.18           0.00
DAVIS         HRA/DEPT OF SOCIAL SERVICES     61178.00           0.00
DAVIS      DEPT OF ENVIRONMENT PROTECTION     38823.00         225.99

#Question 4
Find the 5 employees with the highest “Regular Gross Paid” and calculate their average “OT Hours”. Also, reset the index if you have changed it previously.

*Answer*

In [145]:
nyc_payroll.reset_index(inplace = True) #Reset index
nyc_payroll

,Last Name,level_0,index,Fiscal Year,Payroll Number,Agency Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Compensation
0,DAVIS,0,0,2022,740,DEPARTMENT OF EDUCATION ADMIN,OSCAR,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.00,per Annum,805.0,24469.41,0.0,0.00,0.00,53820.00
1,ZHOU,1,1,2022,746,DEPT OF ED PER DIEM TEACHERS,JUN,NaN,07/01/2020,MANHATTAN,TEACHER-GENERAL ED,ACTIVE,110.29,per Day,0.0,3387.59,0.0,0.00,0.00,110.29
2,LOPEZ,2,2,2022,747,DEPT OF ED PER SESSION TEACHER,YERIBEL,E,12/11/2001,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,20242.24,0.0,0.00,474.32,33.18
3,KENNEDY,3,3,2022,742,DEPT OF ED PEDAGOGICAL,VERA,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.0,74904.27,0.0,0.00,-4474.44,79687.00
4,LICHVAR,4,4,2022,742,DEPT OF ED PEDAGOGICAL,AMANDA,C,02/01/2007,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,5380.44,109852.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,GARNER,1995,1995,2023,300,BOARD OF ELECTION POLL WORKERS,GEOFFREY,O,01/01/2020,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.0,928.00,0.0,0.00,0.00,1.00
1996,FIGUEROA,1996,1996,2023,742,DEPT OF ED PEDAGOGICAL,JESSICA,A,02/08/2006,MANHATTAN,TEACHER ASSIGNED A,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,0.00,109852.00
1997,DIFORTE,1997,1997,2023,747,DEPT OF ED PER SESSION TEACHER,DANIELLE,N,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,1824.57,0.0,0.00,0.00,33.18
1998,BIONDO,1998,1998,2023,747,DEPT OF ED PER SESSION TEACHER,STEFANIE,NaN,10/03/2011,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,4384.04,0.0,0.00,0.61,33.18
1999,ARIAS,1999,1999,2023,827,DEPARTMENT OF SANITATION,ELPIDIO,NaN,07/11/2022,MANHATTAN,SANITATION WORKER,ACTIVE,44064.00,per Annum,2000.0,40473.72,128.5,5659.77,10995.37,49723.77

In [149]:
nyc_payroll.nlargest(5, 'Regular Gross Paid', keep = "all") #Sort by 5 largest values

,Last Name,level_0,index,Fiscal Year,Payroll Number,Agency Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay,Total Compensation
61,BOODANIAN,61,61,2022,69,HRA/DEPT OF SOCIAL SERVICES,BEDROS,L,11/05/2007,MANHATTAN,ADMINISTRATIVE STAFF ANALYST,ACTIVE,215861.0,per Annum,1820.0,215269.60,0.0,0.00,3780.75,215861.00
1378,SOHONI,1378,1378,2023,996,NYC HOUSING AUTHORITY,ARVIND,V,02/11/2019,MANHATTAN,DEPUTY EXECUTIVE DIRECTOR,ACTIVE,215000.0,per Annum,1820.0,193479.52,0.0,0.00,0.00,215000.00
73,RICE,73,73,2022,742,DEPT OF ED PEDAGOGICAL,VICTORIA,NaN,09/02/1997,MANHATTAN,PRINCIPAL,ACTIVE,187530.0,per Annum,0.0,186164.52,0.0,0.00,13594.88,187530.00
1469,KAPLAN,1469,1469,2023,996,NYC HOUSING AUTHORITY,ANDREW,N,12/02/2019,MANHATTAN,EXECUTIVE PROGRAM SPECIALIST,ACTIVE,195000.0,per Annum,1820.0,178356.14,0.0,0.00,0.00,195000.00
1438,NOSSA,1438,1438,2023,56,POLICE DEPARTMENT,ROBERT,A,07/30/2012,MANHATTAN,COMPUTER SYSTEMS MANAGER,ACTIVE,176513.0,per Annum,1820.0,176719.36,32.5,3594.74,6675.87,180107.74

In [157]:
BB = 0.0
AS = 0.0
VR = 0.0
AK = 0.0
RN = 32.5
(BB + AS + VR + AK + RN)/5 #Calucate average "OT Hours"

6.5

#Question 5
Sort the DataFrame by “Fiscal Year” and “Total Other Pay” in descending order, then set “First Name” as the index and use the loc accessor to retrieve the “Total Other Pay” for a specific first name, say “John”.

*Answer*

In [177]:
nyc_payroll.sort_values(["Fiscal Year", "Total Other Pay"],
                 ascending=False) #Sort in descending order by "Fisal Year" then by "Total Other Pay"

,First Name,Last Name,level_0,index,Fiscal Year,Payroll Number,Agency Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,Total OT Paid,Total Other Pay,Total Compensation
OT Hours,,,,,,,,,,,,,,,,,,,
33.98,ANDRE,MCCORKLE,1956,1956,2023,72,DEPARTMENT OF CORRECTION,P,11/09/2006,QUEENS,CORRECTION OFFICER,CEASED,92073.00,per Annum,1120.00,49441.98,2412.11,51700.07,94485.11
0.00,STEPHEN,HARTLEY,1966,1966,2023,56,POLICE DEPARTMENT,F,04/15/1997,MANHATTAN,SERGEANT-D/A SUPERVISOR DETECTIVE SQUAD,CEASED,120744.00,per Annum,942.88,54584.12,0.00,41502.39,120744.00
0.00,KESHIA,BARLOW,1925,1925,2023,742,DEPT OF ED PEDAGOGICAL,NaN,09/08/1997,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,115764.00,per Annum,0.00,115764.00,0.00,36451.25,115764.00
584.20,NICHOLAS,GISMONDI,1453,1453,2023,57,FIRE DEPARTMENT,T,07/01/2008,RICHMOND,FIREFIGHTER,ACTIVE,92073.00,per Annum,2080.00,91820.82,45035.55,35895.43,137108.55
633.40,LACY,HIGGINS,1957,1957,2023,57,FIRE DEPARTMENT,G,01/14/2013,RICHMOND,FIREFIGHTER,ACTIVE,92073.00,per Annum,2080.00,91820.82,52246.64,35140.05,144319.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186.50,IROPIA,GUPTON,180,180,2022,996,NYC HOUSING AUTHORITY,T,04/24/2017,QUEENS,HEATING PLANT TECHNICIAN,ACTIVE,54119.00,per Annum,1432.00,41308.33,6414.99,-2567.78,60533.99
0.00,VERA,KENNEDY,3,3,2022,742,DEPT OF ED PEDAGOGICAL,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.00,74904.27,0.00,-4474.44,79687.00
0.00,SIMONE,HOBBS,200,200,2022,25,LAW DEPARTMENT,N,10/05/1990,MANHATTAN,ADMINISTRATIVE STAFF ANALYST,ACTIVE,152721.00,per Annum,1778.00,173280.87,0.00,-5364.05,152721.00
0.00,LAUREN,FERNANDEZ,356,356,2022,742,DEPT OF ED PEDAGOGICAL,R,10/19/2017,MANHATTAN,SCHOOL PSYCHOLGIST,ACTIVE,104132.00,per Annum,0.00,104131.92,0.00,-11382.93,104132.00
300.50,MELVIN,RIOS,353,353,2022,996,NYC HOUSING AUTHORITY,NaN,05/19/1994,BROOKLYN,MAINTENANCE WORKER,ACTIVE,249.28,per Day,2160.00,67305.60,13955.80,-18272.55,14205.08

In [163]:
nyc_payroll.set_index("First Name", inplace = True) #Create new index

In [164]:
nyc_payroll.loc[
    ["JOHN"],
     ["Total Other Pay"]
] #Locate "JOHN" and "Total Other Pay"

            Total Other Pay
First Name
JOHN               20985.48
JOHN                   0.00
JOHN               19878.38
JOHN               20560.76
JOHN                   0.00
JOHN                   1.17
JOHN               20544.53
JOHN               14771.53
JOHN                   0.00
JOHN                1662.47
JOHN                3186.05
JOHN                8790.69
JOHN               19970.81
JOHN               22069.38
JOHN                6558.46
JOHN               13704.17
JOHN                4477.75
JOHN               18133.17
JOHN               21871.86

#Question 6
Select employees who have “OT Hours” greater than 0, calculate their “OT Rate” (Total OT Paid / OT Hours), and then find the employee with the highest “OT Rate”. Display their full name and OT Rate.

*Answer*

In [299]:
nyc_payroll.reset_index(inplace = True) #Reset index

In [300]:
nyc_payroll['OT Hours'] > 0 #I'm unsure how to remove values equal to zero in the "OT Hours" Column

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999     True
Name: OT Hours, Length: 2000, dtype: bool

In [301]:
nyc_payroll['OT Rate'] = nyc_payroll['Total OT Paid'] / (nyc_payroll['OT Hours'] > 0) #Attempted to divide by "OT Hours" greater than zero

In [302]:
nyc_payroll.set_index("OT Hours", inplace = True)
nyc_payroll #Set "OT Hours" as the index

,First Name,level_0,index,Fiscal Year,Payroll Number,Agency Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,Total OT Paid,Total Other Pay,Total Compensation,OT Rate
OT Hours,,,,,,,,,,,,,,,,,,,
0.0,OSCAR,0,0,2022,740,DEPARTMENT OF EDUCATION ADMIN,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.00,per Annum,805.0,24469.41,0.00,0.00,53820.00,NaN
0.0,JUN,1,1,2022,746,DEPT OF ED PER DIEM TEACHERS,NaN,07/01/2020,MANHATTAN,TEACHER-GENERAL ED,ACTIVE,110.29,per Day,0.0,3387.59,0.00,0.00,110.29,NaN
0.0,YERIBEL,2,2,2022,747,DEPT OF ED PER SESSION TEACHER,E,12/11/2001,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,20242.24,0.00,474.32,33.18,NaN
0.0,VERA,3,3,2022,742,DEPT OF ED PEDAGOGICAL,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.0,74904.27,0.00,-4474.44,79687.00,NaN
0.0,AMANDA,4,4,2022,742,DEPT OF ED PEDAGOGICAL,C,02/01/2007,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,109852.00,per Annum,0.0,109852.08,0.00,5380.44,109852.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0.0,GEOFFREY,1995,1995,2023,300,BOARD OF ELECTION POLL WORKERS,O,01/01/2020,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.0,928.00,0.00,0.00,1.00,NaN
0.0,JESSICA,1996,1996,2023,742,DEPT OF ED PEDAGOGICAL,A,02/08/2006,MANHATTAN,TEACHER ASSIGNED A,ACTIVE,109852.00,per Annum,0.0,109852.08,0.00,0.00,109852.00,NaN
0.0,DANIELLE,1997,1997,2023,747,DEPT OF ED PER SESSION TEACHER,N,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,1824.57,0.00,0.00,33.18,NaN
0.0,STEFANIE,1998,1998,2023,747,DEPT OF ED PER SESSION TEACHER,NaN,10/03/2011,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,4384.04,0.00,0.61,33.18,NaN
128.5,ELPIDIO,1999,1999,2023,827,DEPARTMENT OF SANITATION,NaN,07/11/2022,MANHATTAN,SANITATION WORKER,ACTIVE,44064.00,per Annum,2000.0,40473.72,5659.77,10995.37,49723.77,5659.77

In [305]:
(
    nyc_payroll
    .sort_index()
    .loc["0.01":]
) #Located all "OT Hours" greater than 0.01

,First Name,level_0,index,Fiscal Year,Payroll Number,Agency Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,Total OT Paid,Total Other Pay,Total Compensation,OT Rate
OT Hours,,,,,,,,,,,,,,,,,,,
0.50,KATRINA,1051,1051,2023,740,DEPARTMENT OF EDUCATION ADMIN,NaN,07/31/1992,MANHATTAN,COMMUNITY COORDINATOR,ACTIVE,77410.00,per Annum,1820.00,74454.21,26.60,3797.68,77436.60,26.60
2.00,WENDY,150,150,2022,740,DEPARTMENT OF EDUCATION ADMIN,NaN,06/07/2019,MANHATTAN,COMMUNITY ASSOCIATE,CEASED,43968.00,per Annum,420.00,8432.20,72.19,3073.35,44040.19,72.19
2.75,CHRISTINE,1722,1722,2023,67,ADMIN FOR CHILDREN'S SVCS,L,09/29/1997,MANHATTAN,ADMINISTRATIVE DIRECTOR OF SOCIAL SERVICES,ACTIVE,91168.00,per Annum,1820.00,91231.54,152.53,3790.12,91320.53,152.53
3.00,JUAN,1159,1159,2023,25,LAW DEPARTMENT,L,07/09/2018,MANHATTAN,PARALEGAL AIDE,ACTIVE,54283.00,per Annum,1820.00,54346.21,68.34,3000.00,54351.34,68.34
3.25,MAXIM,834,834,2022,846,DEPT OF PARKS & RECREATION,NaN,05/21/2021,RICHMOND,LIFEGUARD,ACTIVE,17.19,per Hour,377.75,6125.38,78.49,2515.96,95.68,78.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314.12,ROBERT,1294,1294,2023,72,DEPARTMENT OF CORRECTION,NaN,12/22/2011,QUEENS,CORRECTION OFFICER,ACTIVE,92073.00,per Annum,2080.00,91820.82,92892.79,11572.84,184965.79,92892.79
1403.00,HUBERT,141,141,2022,72,DEPARTMENT OF CORRECTION,A,11/10/2005,QUEENS,CORRECTION OFFICER,ACTIVE,92073.00,per Annum,2080.00,91820.81,54456.63,22301.76,146529.63,54456.63
1454.50,NaN,1680,1680,2023,903,DISTRICT ATTORNEY KINGS COUNTY,NaN,02/28/2022,BROOKLYN,SENIOR RACKETS INVESTIGATOR - START >4-24-08 N...,ACTIVE,70877.00,per Annum,2080.00,70682.82,74059.44,1317.42,144936.44,74059.44
1646.97,JOHN,221,221,2022,72,DEPARTMENT OF CORRECTION,E,08/06/2015,QUEENS,CORRECTION OFFICER,ON LEAVE,92073.00,per Annum,2080.00,91327.14,62951.67,20560.76,155024.67,62951.67
1875.50,EMMANUEL,1199,1199,2023,996,NYC HOUSING AUTHORITY,NaN,01/09/1995,BRONX,SUPERVISOR ROOFER,ACTIVE,329.49,per Day,1820.00,85667.40,126184.02,5605.98,126513.51,126184.02

In [304]:
nyc_payroll.nlargest(10, 'OT Rate', keep = "all") #Sorted by 10 largest, infinite since I couldn't figure out how to eliminate zero values

,First Name,level_0,index,Fiscal Year,Payroll Number,Agency Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,Total OT Paid,Total Other Pay,Total Compensation,OT Rate
OT Hours,,,,,,,,,,,,,,,,,,,
0.0,NaN,116,116,2022,56,POLICE DEPARTMENT,NaN,06/30/1995,MANHATTAN,SERGEANT-,CEASED,114617.00,per Annum,0.0,6711.42,1889.91,2827.47,116506.91,inf
0.0,JEAN,166,166,2022,846,DEPT OF PARKS & RECREATION,P,09/24/2007,QUEENS,ASSOCIATE PROJECT MANAGER,ACTIVE,90197.00,per Annum,1820.0,89949.87,0.14,9516.79,90197.14,inf
0.0,JENNIFER,211,211,2022,67,ADMIN FOR CHILDREN'S SVCS,NaN,08/29/2016,RICHMOND,CLERICAL ASSOCIATE,ACTIVE,41848.00,per Annum,1820.0,67044.24,20.98,731.00,41868.98,inf
0.0,NaN,297,297,2022,903,DISTRICT ATTORNEY KINGS COUNTY,NaN,07/21/1999,BROOKLYN,SENIOR RACKETS INVESTIGATOR - START >4-24-08 N...,CEASED,80343.00,per Annum,0.0,401.41,42.04,6237.61,80385.04,inf
0.0,JAMES,308,308,2022,57,FIRE DEPARTMENT,P,08/19/1990,BROOKLYN,FIREFIGHTER,CEASED,92073.00,per Annum,0.0,9926.60,1687.38,1853.80,93760.38,inf
0.0,NaN,520,520,2022,56,POLICE DEPARTMENT,NaN,07/07/1999,MANHATTAN,SERGEANT-,CEASED,118056.00,per Annum,0.0,7908.88,1622.25,24257.36,119678.25,inf
0.0,MARLY,548,548,2022,816,DEPT OF HEALTH/MENTAL HYGIENE,NaN,10/01/2007,BROOKLYN,ADMINISTRATIVE STAFF ANALYST,ACTIVE,111922.00,per Annum,1820.0,166990.01,67.20,5536.54,111989.20,inf
0.0,DIANA,563,563,2022,69,HRA/DEPT OF SOCIAL SERVICES,NaN,01/23/2017,MANHATTAN,ASSOCIATE STAFF ANALYST,CEASED,79069.00,per Annum,0.0,1088.29,91.25,-1179.54,79160.25,inf
0.0,EARL,587,587,2022,56,POLICE DEPARTMENT,G,08/08/1996,MANHATTAN,TRAFFIC ENFORCEMENT AGENT,CEASED,48585.00,per Annum,0.0,473.97,39.58,61.64,48624.58,inf
0.0,NaN,609,609,2022,56,POLICE DEPARTMENT,NaN,12/08/1997,MANHATTAN,SERGEANT-,CEASED,111821.00,per Annum,0.0,1645.09,541.46,954.57,112362.46,inf
0.0,ANTHONY,730,730,2022,57,FIRE DEPARTMENT,N,10/29/2018,BROOKLYN,FIRE ALARM DISPATCHER,CEASED,40052.00,per Annum,0.0,1120.30,60.79,124.01,40112.79,inf
0.0,BARRINGTON,738,738,2022,57,FIRE DEPARTMENT,A,08/27/1990,BROOKLYN,ASSOCIATE FIRE PROTECTION INSPECTOR,CEASED,79999.00,per Annum,0.0,8465.82,1492.53,400.83,81491.53,inf
0.0,NaN,787,787,2022,56,POLICE DEPARTMENT,NaN,04/30/1991,MANHATTAN,POLICE OFFICER D/A DETECTIVE 1ST GR,CEASED,131564.00,per Annum,0.0,5053.27,2088.90,967.80,133652.90,inf
0.0,SEMYON,796,796,2022,56,POLICE DEPARTMENT,NaN,07/07/1999,MANHATTAN,SERGEANT-,ON LEAVE,118056.00,per Annum,2080.0,88789.56,1198.48,32655.54,119254.48,inf
0.0,NaN,801,801,2022,56,POLICE DEPARTMENT,NaN,09/29/2000,MANHATTAN,SERGEANT-,CEASED,118056.00,per Annum,0.0,8595.56,2293.78,22446.80,120349.78,inf
0.0,NaN,921,921,2022,56,POLICE DEPARTMENT,NaN,07/05/1989,MANHATTAN,POLICE OFFICER D/A DETECTIVE 1ST GR,CEASED,128355.00,per Annum,0.0,1182.45,322.49,193.83,128677.49,inf
0.0,JAMES,940,940,2022,846,DEPT OF PARKS & RECREATION,T,09/06/2006,QUEENS,ASSISTANT LANDSCAPE ARCHITECT,ACTIVE,65640.00,per Annum,1820.0,65460.20,3.40,5602.88,65643.40,inf
0.0,MD FAYSAL BIN,957,957,2022,816,DEPT OF HEALTH/MENTAL HYGIENE,NaN,10/22/2018,MANHATTAN,PUBLIC HEALTH SANITARIAN,CEASED,54377.00,per Annum,0.0,0.00,3.78,44.52,54380.78,inf
0.0,PETER,975,975,2022,57,FIRE DEPARTMENT,L,02/01/2000,BROOKLYN,FIREFIGHTER,CEASED,87211.00,per Annum,0.0,304.96,124.44,38.44,87335.44,inf
0.0,HOPETON,987,987,2022,57,FIRE DEPARTMENT,NaN,11/08/2002,QUEENS,EMERGENCY MEDICAL SPECIALIST-EMT,CEASED,54226.00,per Annum,0.0,841.62,6.04,30.15,54232.04,inf
0.0,JAMEL,1029,1029,2023,846,DEPT OF PARKS & RECREATION,L,04/30/2021,BRONX,CITY PARK WORKER,CEASED,17.13,per Hour,0.0,913.59,28.26,21.42,45.39,inf
0.0,KAREN,1137,1137,2023,826,DEPT OF ENVIRONMENT PROTECTION,M,01/03/2006,ULSTER,ASSOCIATE LABORATORY MICROBIOLOGIST,ACTIVE,68962.00,per Annum,1820.0,65283.57,1.10,11768.36,68963.10,inf
0.0,PIUS,1150,1150,2023,71,DEPT. OF HOMELESS SERVICES,C,10/16/2017,BROOKLYN,ASSISTANT SUPERINTENDENT OF WELFARE SHELTERS,CEASED,73364.00,per Annum,0.0,921.95,2.28,23.84,73366.28,inf
0.0,AMBER,1163,1163,2023,846,DEPT OF PARKS & RECREATION,I,04/08/2019,RICHMOND,CITY PARK WORKER,CEASED,19.69,per Hour,0.0,332.89,2.83,11.84,22.52,inf
0.0,SHANANORET,1232,1232,2023,846,DEPT OF PARKS & RECREATION,NaN,11/09/2021,BRONX,JOB TRAINING PARTICIPANT,CEASED,15.91,per Hour,0.0,152.43,4.20,1.32,20.11,inf
0.0,ELIZABETH,1262,1262,2023,806,HOUSING PRESERVATION & DVLPMNT,R,08/31/2015,MANHATTAN,HOUSING DEVELOPMENT SPECIALIST,ACTIVE,94849.00,per Annum,1680.0,62561.99,27.54,3530.84,94876.54,inf
0.0,JOYCE,1418,1418,2023,69,HRA/DEPT OF SOCIAL SERVICES,S,06/04/2012,BROOKLYN,PRINCIPAL ADMINISTRATIVE ASSOCIATE - NON SUPVR,ACTIVE,54531.00,per Annum,1820.0,44577.90,194.55,2439.29,54725.55,inf
0.0,OYEDELE,1510,1510,2023,69,HRA/DEPT OF SOCIAL SERVICES,M,04/19/1993,MANHATTAN,CASEWORKER,CEASED,49314.00,per Annum,0.0,934.44,9.30,13.15,49323.30,inf
0.0,EVELYN,1607,1607,2023,740,DEPARTMENT OF EDUCATION ADMIN,NaN,05/31/2011,MANHATTAN,CUSTOMER INFORMATION REPRESENTATIVE MA L 1549,ACTIVE,106090.00,per Annum,1820.0,97754.41,1.36,5017.70,106091.36,inf
0.0,JOHN,1622,1622,2023,836,DEPARTMENT OF FINANCE,NaN,08/26/2002,MANHATTAN,ACCOUNTANT,ACTIVE,100571.00,per Annum,1820.0,100725.67,7.27,13704.17,100578.27,inf
0.0,JENNY,1658,1658,2023,816,DEPT OF HEALTH/MENTAL HYGIENE,P,01/09/1995,QUEENS,CITY RESEARCH SCIENTIST,ACTIVE,106146.00,per Annum,1820.0,106269.61,1124.22,8283.03,107270.22,inf
0.0,KIM,1684,1684,2023,67,ADMIN FOR CHILDREN'S SVCS,NaN,07/04/2011,BRONX,CASEWORKER,CEASED,64105.00,per Annum,0.0,926.84,3.10,44.56,64108.10,inf
0.0,PATRICIA,1710,1710,2023,72,DEPARTMENT OF CORRECTION,NaN,06/07/2001,QUEENS,CAPTAIN,CEASED,118056.00,per Annum,0.0,0.00,193.67,1034.91,118249.67,inf
0.0,JOSEPH,1878,1878,2023,69,HRA/DEPT OF SOCIAL SERVICES,NaN,08/09/2010,MANHATTAN,ADMINISTRATIVE MANAGEMENT AUDITOR,ACTIVE,116000.00,per Annum,1820.0,85913.49,5.34,3853.61,116005.34,inf
0.0,SHATANA,1904,1904,2023,846,DEPT OF PARKS & RECREATION,C,02/25/2022,MANHATTAN,CITY PARK WORKER,CEASED,20.89,per Hour,808.0,14421.13,22.08,1290.95,42.97,inf
0.0,JULIO,1953,1953,2023,816,DEPT OF HEALTH/MENTAL HYGIENE,E,05/17/2004,QUEENS,PUBLIC HEALTH ADVISER,CEASED,61891.00,per Annum,0.0,4025.96,355.55,799.41,62246.55,inf
0.0,KAREEM,1958,1958,2023,846,DEPT OF PARKS & RECREATION,M,06/27/2009,BROOKLYN,LIFEGUARD,CEASED,19.47,per Hour,0.0,0.00,0.96,12.96,20.43,inf

#Question 7
Sort the DataFrame first by “Work Location Borough” alphabetically, and then by “Total Compensation” (sum of “Base Salary” and “Total OT Paid”) in descending order within each borough.

*Answer*

In [306]:
nyc_payroll.reset_index(inplace = True) #Reset index

In [307]:
nyc_payroll['Total Compensation'] = nyc_payroll['Base Salary'] + nyc_payroll['Total OT Paid']

In [310]:
(
    nyc_payroll
    .sort_values(["Work Location Borough", "Total Compensation"],
                 ascending=[True,False])
    .head(10)
) #Sort in ascending order, "Work Location Borough" then by "Total Compensation" in descending order

,OT Hours,First Name,level_0,index,Fiscal Year,Payroll Number,Agency Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,Total OT Paid,Total Other Pay,Total Compensation,OT Rate
1172,705.17,DOMINIC,1172,1172,2023,56,POLICE DEPARTMENT,L,07/02/2001,BRONX,POLICE OFFICER D/A DETECTIVE 2ND GR,ACTIVE,118056.0,per Annum,2080.0,114065.87,68725.63,24641.79,186781.63,68725.63
253,0.00,DONALD,253,253,2022,902,BRONX DISTRICT ATTORNEY,C,03/19/2017,BRONX,ASSISTANT DISTRICT ATTORNEY,ACTIVE,170000.0,per Annum,1820.0,161533.16,0.00,3500.00,170000.00,NaN
1182,0.00,JEFFREY,1182,1182,2023,902,BRONX DISTRICT ATTORNEY,L,10/30/2017,BRONX,ASSISTANT DISTRICT ATTORNEY,ACTIVE,160000.0,per Annum,1820.0,156876.82,0.00,9000.00,160000.00,NaN
602,657.60,ANTHONY,602,602,2022,56,POLICE DEPARTMENT,NaN,04/30/1995,BRONX,P.O. DA DET GR3,ACTIVE,105062.0,per Annum,2080.0,113336.55,49706.74,21117.63,154768.74,49706.74
307,1039.33,RYAN,307,307,2022,57,FIRE DEPARTMENT,P,03/07/2004,BRONX,FIREFIGHTER,ACTIVE,92073.0,per Annum,2080.0,110621.56,61087.56,20700.83,153160.56,61087.56
98,1119.92,MATTHEW,98,98,2022,57,FIRE DEPARTMENT,NaN,07/29/2013,BRONX,FIREFIGHTER,ACTIVE,92073.0,per Annum,2080.0,110075.97,57443.57,16716.59,149516.57,57443.57
1975,763.80,SEAN,1975,1975,2023,57,FIRE DEPARTMENT,M,06/12/2017,BRONX,FIREFIGHTER,ACTIVE,92073.0,per Annum,2080.0,91820.82,55188.56,18602.69,147261.56,55188.56
486,375.25,CAROLYN,486,486,2022,56,POLICE DEPARTMENT,Y,07/08/2008,BRONX,LIEUTENANT,ACTIVE,123939.0,per Annum,2080.0,125499.21,22993.14,15959.85,146932.14,22993.14
1229,0.00,DAWN,1229,1229,2023,3,BOARD OF ELECTION,T,11/14/2005,BRONX,DEPUTY CHIEF CLERK,ACTIVE,146705.0,per Annum,1820.0,146303.04,0.00,0.00,146705.00,NaN
1564,462.75,OCTAVIA,1564,1564,2023,56,POLICE DEPARTMENT,NaN,07/06/2011,BRONX,P.O. DA DET GR3,ACTIVE,104606.0,per Annum,2080.0,104195.70,40174.46,14977.72,144780.46,40174.46